{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Codekun - Pastebin
{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        #contentcode {
            height: 444px;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
         <div class="page-header">
             <h1>Pastebin</h1>
             <h5>快速保存/分享您的代码</h5>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <div class="col-lg-8">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <h5>&nbsp;&nbsp;</h5>
{% endblock %}