{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Codekun - Pastebin
{% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='prettify.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify.js') }}"></script>
{% endblock %}

{% block body_attribs %}
    {{ super() }}
    onload="prettyPrint()"
{% endblock body_attribs %}

{% block content %}
    <div class="container">
         <div class="page-header">
             <h1>Pastebin</h1>
             <h5>快速保存/分享您的代码 &nbsp; <a href="{{ url_for('index') }}">返回首页</a></h5>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <h4><a href="{{ url_for('download', codeid=item.id) }}">下载代码</a></h4>
        <h5>发表者：{{ item.poster }}， 代码语言：{{ item.syntax }}，提交时间：{{ timestr }}</h5>
        <pre class="prettyprint">{{ item.content }}</pre>
    </div>
{% endblock %}